<div class="container p-4">
    <div class="row">
        <div class="col mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido: {{user.fullname}}</h3>
                    {{!-- <a data-toggle="modal" data-target="#modalCitaMedica" style="cursor: pointer;" class="btn btn-primary">Agendar Cita Médica</a> --}}
                </div>
            </div>
        </div>
    </div>
</div>